@font-face {
  font-family: 'Reospec';
  src: url(./Reospec.otf) format("opentype")
}
*{
  font-family: 'Reospec';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}
html{
  background-color: #181818;
}